:root {
    --main-background: #F0DB4F;
    --secondary-background: white;
    --main-color-text: #323330;
    --main-color-border: #cfd6bf;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%; /* 1rem = 10px */
    font-family: monospace;
    background: var(--main-background);
    padding: 20px 0;
}

body,
.container {
    display: flex;
}

body,
.container {
    flex-flow: row wrap;
}

body {
    justify-content: center;
}


.container {
    max-width: 600px;
    min-width: 280px;
    padding: 10px;
    background: var(--secondary-background);
    border: 0;
    box-shadow: .2px .2px 1px black;
    height: auto;
    gap: 5px;
}
.container__text {
    text-align: center;
    font-size: 1rem;
    color: var(--main-color-text);
}

.container__text,
.container__img {
    width: 100%;
}


.container__img {
    opacity: 0;
    transition: all .5s;
}

.container--imgleft.slide-in,
.container--imgnormal.slide-in {
    transform: translate(-30%) scale(.98);
}

.container--imgright.slide-in {
    transform: translate(30%) scale(.98);
}

.container__img.active {
    transform: translate(0) scale(.98);
    opacity: 1;
}

@media (min-width: 568px) {
    .container {
        justify-content: space-between;
        align-items: center;
    }

    .container--imgleft,
    .container--imgright,
    .container--textleft,
    .container--textright {
        width: 48%;
    }

    .container__text {
        text-align: justify;
    }

    .container--textleft,
    .container--textright {
        text-align: center;
    }
}